// main: style.less
.header {
    max-width: 1440px;
}

.navigation {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: @color_black;
    text-decoration: none;
    margin: 24px 60px 0 43px;
}

.navigation_settings{
    display: flex;
    margin: 24px 60px 0 43px;

}

.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}



.hover_model {
    border: 1px solid @color_primary;
}