// main: style.less
@import "colors&fonts";



// Left  section



//  Left  section

// Right section

.main_right_section {
    width: 440px;
    height: 900px;
    background-color: @color_primary;
}

// Right section