// main: style.less
@import "colors&fonts";

.main_section {}

.main_container {
    display: flex;
    height: 900px;
}

// Left  section


//  Left  section

// Right section

.main_right_section {
    width: 440px;
    background: @color_primary;
    color: @color_white;
}

.main_right_top {
}

.right_section_title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.right_section_description {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    width: 316px;
    height: 206px;
}

.right_icons {
    
}

.right_icons_block {}

.right_icons_img_block {}

.right_icons_text_block {}

.right_icons_description_block {}

.right_icons_description_underblock {}

.main_right_under {}

.main_right_learnmore {}

.main_right_under_text {}

.main_right_under_button {}

// Right section