.header {
  max-width: 1440px;
}
.navigation {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  margin: 24px 60px 0 43px;
  padding: 0;
}
.navigation_settings {
  display: flex;
  margin: 24px 60px 0 43px;
  justify-content: space-between;
  align-items: center;
}
.navigation_settings .nav_main > li > a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-right: 25px;
}
.navigation_settings .nav_main > li > a:hover {
  color: #E51937;
  border-bottom: 2px solid #E51937;
  padding-bottom: 6px;
  transition: 0.3s;
}
.navigation_settings .nav_right > li > a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-right: 25px;
}
.navigation_settings .nav_right > li > a:hover {
  color: #E51937;
  border-bottom: 2px solid #E51937;
  padding-bottom: 6px;
  transition: 0.3s;
}
.nav_main {
  display: flex;
  list-style: none;
  padding: 0;
}
.nav_right {
  display: flex;
  list-style: none;
  padding: 0;
}
.tesla_logo {
  background-image: url(../img/teslalogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 600px;
  margin-bottom: 24px;
}
.tesla {
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  color: #000000;
  text-align: center;
}
.tesla_welcome {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  margin-top: -70px;
}
.tesla_info {
  display: flex;
  justify-content: center;
}
.tesla_info_block {
  display: flex;
  margin-right: 80px;
}
.tesla_text_block {
  vertical-align: bottom;
  padding-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
}
.tesla_description_underblock {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.tesla_info_block_right {
  display: flex;
  margin-left: 40px;
}
.tesla_description_block_drive {
  display: flex;
  align-items: flex-end;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.tesla_button_block {
  color: #E51937;
  display: inline-block;
  width: 160px;
  height: 40px;
  text-decoration: none;
  user-select: none;
  outline: none;
  border: 2px solid;
  margin-top: 12px;
}
.tesla_button_description {
  font-weight: 700;
  vertical-align: center;
  text-align: center;
  transform: translate(17%, 52%);
  display: flex;
  margin: 0;
  margin-right: -50%;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat;
}
